<div class="hero md:mt-20">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div
      class="card w-full sm:w-[100vw] bg-base-100 max-w-sm shrink-0 shadow-2xl"
    >
      @if(!isSubmitted){
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Topic</span>
          </label>
          <input
            formControlName="topic"
            type="text"
            placeholder="Add a new topic"
            class="input input-bordered"
            required
          />
          @if(entryForm.get('topic')?.touched &&
          entryForm.get('topic')?.invalid){

          <div class="text-red-500">Please enter a valid topic</div>
          }
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Description</span>
          </label>
          <textarea
            id="topic"
            class="input input-bordered w-full h-60 p-2"
            placeholder="Enter a new description"
            formControlName="description"
            rows="6"
          ></textarea>
          @if(entryForm.get('description')?.touched &&
          entryForm.get('description')?.invalid){
          <div class="text-red-500">Some sort of description is required</div>

          }
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Wiki Link</span>
          </label>
          <input
            formControlName="wiki"
            type="text"
            placeholder="Paste the Wikipedia link here"
            class="input input-bordered"
            required
          />
          @if(entryForm.get('wiki')?.touched && entryForm.get('wiki')?.invalid){
          <div class="text-red-500">Wikipedia link is required</div>

          }
        </div>

        <div class="form-control mt-6">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="entryForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
      } @if(isSubmitted){
      <button class="btn btn-primary my-6" (click)="addAnother()">
        Submit another
      </button>
      <a class="btn btn-primary my-6" href="/">Back to Home</a>

      }
    </div>
  </div>
</div>
