<label
  class="input input-bordered relative flex items-center mx-auto my-12 sm:my-20 gap-2 w-1/2"
>
  <form class="grow" [formGroup]="applyForm">
    <input
      id="topic"
      type="text"
      class="grow"
      placeholder="Search"
      formControlName="topic"
      (keydown.enter)="go()"
    />
  </form>
</label>

@if(!isSelected){
<div
  class="card place-self-center mt-12 sm:mt-20 w-full sm:w-1/2 bg-gradient-to-r from-sky-200 to-sky-300 rounded-xl shadow-lg"
>
  <div class="card-body text-center">
    <h2 class="text-2xl font-bold text-gray-800 mb-3">Welcome!</h2>
    <p class="text-lg text-gray-600">
      Search the encyclopedia to learn something new.
    </p>
    <p class="text-center text-gray-700 m-4">
      We're pretty early in development - maybe you can help us out. If you
      don't get results for a search, feel free to add a new entry yourself!
    </p>
  </div>
</div>
} @if(entryNotFound) {
<div class="place-self-center">
  <div class="card bg-base-100 m-20 w-4/5 h-2/5 shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center">
        Entry not found - would you like to add it?
      </h2>
      <div class="card-actions justify-center">
        <a href="/add" class="btn btn-primary">Add new entry</a>
      </div>
    </div>
  </div>
</div>

} @if(isSelected && !entryNotFound) {
<div class="place-self-center w-2/3 md:w-1/3 lg:w-1/4">
  <selected-entry [entry]="result" />
</div>
}
